.container {
	margin: 0 auto;
	width: 960px;
}

section {
	width: 575px;
	margin-right: 25px;
	float: left;
}

aside {
	width: 360px;
	float: left;
}

footer {
	clear: both;
	border-top: 1px solid #e3e3e3;
}